* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
}

.form-container {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 40px; /* Increased padding for more space inside the container */
    max-width: 600px; /* Increased max-width for a larger container */
    width: 100%;
    margin: 20px auto; /* Center form container */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 1em;
    color: #333;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form-group label i {
    margin-right: 8px;
    color: #4CAF50;
}

input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
.upload-container {
    box-shadow: none;
    border: none;
}